*{
  margin: 0;
  padding: 0;
  outline: none;
}
*::-webkit-scrollbar {
  display:none;
}
html{
  scroll-behavior: smooth;
}
.container{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
h3 {
  color: rgba(245, 245, 245, 0.582);
  font-weight: 100;
  width: 100%;
  text-align: left;
  font-size: 15rem;
  top: 1%;
  position: absolute;
  z-index: -999;
  line-height: 66%;
}
h4{
  text-align: center;
  color: rgb(255, 255, 255);
  width: 50%;
  margin: auto;
  border-bottom: 1px solid #fff;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}
h5{
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: absolute;
  top: 38%;
  right: calc(50% - 224px);
  font-weight:  100;
  font-size: 3.9rem;
  text-align: center;
  color: rgb(0, 0, 0);
}
.name{
  color: rgba(255, 255, 255, 0.863);
}
.nav-menu{
  padding: 20% 0 0 23%;
  font-size: 2.5rem;
  position: relative;
  transition: .5s;
  width: 100%;
  letter-spacing: 1rem;
}
.nav-menu::after {
  position: absolute;
  bottom: 25%;
  left: -20%;
  content: "";
  width: 38%;
  height: 2px;
  background: rgba(0, 0, 0, 0.753);
  opacity: 0;
  transition: .5s;
}
.nav-menu:hover{
  padding: 20% 0 0 31%;
}
.nav-menu:hover::after{
  bottom: 23%;
  width: 30%;
  padding: 0 0 0 -30%;
  opacity: 1;
}
.nav-menu:hover .nav-menu{
  color: rgb(128, 128, 128);
}
/* .borders{
  width: 50%;
  right: 0;
  border-top: 1px solid #000;
  position: absolute;
  top: 50%;
} */
.logo{
  color: rgb(48, 79, 100);
}
.login{ 
  position: absolute;
  top: 30%;
  left: 20%;
  color: rgb(255, 255, 255);
}
.register{
  position: absolute;
  top: 25%;
  left: 20%;
  color: rgb(255, 255, 255);
}
.logout{
  margin-left: 2.3rem;
  padding: 20% 0 0 17%;
  transition: .5s;
  width: 100%;
}
.logout:hover{
  padding: 20% 0 0 25%;
}
.logout::after {
  position: absolute;
  bottom: 15%;
  left: 15%;
  content: "";
  width: 20%;
  height: 2px;
  background: rgba(0, 0, 0, 0.753);
  opacity: 0;
  transition: .5s;
}
.logout:hover::after{
  bottom: 15%;
  width: 15%;
  padding: 0 0 0 -30%;
  opacity: 1;
}
.login-btn{
  font-size: 4rem;
  position: absolute;
  top: 60%;
  left: 25%;
  transition: 0.5s;
}
.login-btn:hover{
  color: rgba(0, 0, 0, 0.438);
}
.register-btn{
  font-size: 4rem;
  position: absolute;
  top: 60%;
  left: 60%;
  transition: 0.5s;
}
.register-btn:hover{
  color: rgba(0, 0, 0, 0.438);
}
.logout-btn{
  position: absolute;
  top: 2%;
  right: 30%;
}
.btn-link{
  color: rgb(255, 255, 255);
  justify-content: space-between;
}
.padding-left{
  padding-left: 3rem;
}
.scrolltxt{
  position: absolute;
  left: 25px;
  top: 20%;
  bottom: 145px;
  margin: auto;
  text-align: right;
  writing-mode: vertical-rl;
  opacity: 1;
  border-left: 1px solid rgb(0, 0, 0);
  border-bottom: 1px double rgb(0, 0, 0);
  padding-bottom: 20px;
}
.scrolltxt a {
  height: 10vh;
  font-size: 1.0em;
  letter-spacing: 0.05em;
  line-height: 0.68;
  color: rgb(0, 0, 0);
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
}
.navbar-brand{
  /* border: solid rgb(172, 172, 172) 1px; */
  display: inline-block;
  height: 30%;
  background: rgb(255, 255, 255);
  margin-top: 20px;
  margin-left: 26px;
  font-size: 4rem;
  letter-spacing:0;
  font-weight: normal;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.nav-item{
  padding: 0 30px;
  font-size: 2rem;
  transition: 1s;
}
.navbar-toggler{
  display: none;
}
.navbar-collapse{
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 90vh;
  background: rgb(255, 255, 255);
  align-items: center;
}
.navbar-nav{
  height: 4rem;
  background: rgb(255, 255, 255);
  align-items: center;
  display: flex;
}
.bgimage{
  height: calc(100vh - 4rem);
  width: 100%;
  position: absolute;
  z-index: -999;
}
.bgimages{
  height: calc(100vh - 4rem);
  width: 100%;
  position: absolute;
  z-index: -999;
}
.bg-top{
  background: rgba(44, 87, 57, 0.95);
}
.bg-profile{
  background: rgba(68, 68, 107, 0.7);
}
.bg-activity{
  background: rgba(17, 158, 168, 0.85);
}
.bg-posting{
  background: rgba(87, 31, 31, 0.95);
}
.bg-login{
  background: rgb(165, 187, 65);
}
.nav-link{
  color: rgb(0, 0, 0);
  font-weight: 300;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 300;
}
li{
  list-style-type: none
}
.dropdown-menu{
  color: rgb(0, 0, 0);
  font-weight: 300;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/* card */
.screen{
  position: relative;
  top: 45vh;
  right: -6%;
  width: 42%;
  background: rgba(31, 31, 31, 0.63);
  padding: 0 25px;
}
.screen::-webkit-scrollbar {
  display:none;
}
.card-header{
  width: 100%;
  height: 5vh;
  font-size: 2rem;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-bottom: 1px solid rgba(196, 196, 196);
  margin: 20px auto 20px;
  padding-bottom: 5px;
  letter-spacing: 0.2rem;
}
.card-title{
  text-align: left;
  width: 100%;
  font-weight: 100;
  font-size: 1.2rem;
  border-bottom: 1px solid rgb(196, 196, 196);
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.card-body-wrap{
  width: 100%;
  height: 170vh;
  overflow: scroll;
  color: rgb(255, 255, 255);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.card-body-wrap::-webkit-scrollbar {
  display:none;
}
.card-footer{
  margin-bottom: 3rem;
}
.none{
  display: none;
}
.profile-myname{
  text-align: left;
  font-size: 1.5rem;
  border-left: 2px solid rgb(255, 255, 255);
  padding-left: 25px;
  margin-bottom: 2rem;
}
.profile-mymessage{
  text-align: left;
  border-left: 2px solid rgb(255, 255, 255);
  padding-left: 25px;
  margin-bottom: 2rem;
  color: rgb(255, 255, 255);
}
.profile_myimage{
  border: solid 1px rgb(0, 0, 0);
  border-radius: 50%;
}
.profile_image{
  border: solid 2px rgb(0, 0, 0);
  border-radius: 50%;
}
.profile-contents{
  width: 30%;
}
.profiles-mycontent{
  width: 60%;
  display: flex;
  position: absolute;
  top: 40%;
  left: 10%;
}
.profile-text{
  width: 40%;
  padding-left: 10%;
  color: rgb(255, 255, 255);
}
.profile-edit{
  margin: auto;
  color: rgb(255, 255, 255);
  border-left: 2px solid rgb(255, 255, 255);
  padding-left: 25px;
}
.profile-input{
  color: rgb(255, 255, 255);
}
.edit-content{
  position: absolute;
  top: 30%;
  left: 20%;
}

.post_image{
  width: 100%;
  height: 25vh;
  padding: 10px 0;
}
.cp_iptxt {
	position: relative;
	width: 27.33%;
  margin: 40px 3%;
  color: rgb(255, 255, 255);
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 40vw;
	padding: 0 0.3em;
	letter-spacing: 1px;
  border: 0;
  background: none;
  color: rgb(255, 255, 255);
}
.cp_iptxt input[type='email'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 30vw;
	padding: 0 0.3em;
	letter-spacing: 1px;
  border: 0;
}
.cp_iptxt input[type='password'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 30vw;
	padding: 0 0.3em;
	letter-spacing: 1px;
  border: 0;
}
.cp_iptxt textarea[type='text'] {
  background: none;
  resize: none;
}
.cp_iptxt textarea{
  resize: none;
}
.cp_iptxt input[type='text']:focus {
	outline: none;
}
.cp_iptxt input[type='text']:focus::after {
	outline: none;
}
.cp_iptxt i {
	position: absolute;
	top: 0;
	left: 0;
	padding: 9px 5px;
	transition: 0.3s;
	color: #aaaaaa;
}
.cp_iptxt::after {
	display: block;
	width: 30vw;
	height: 4px;
	margin-top: -1px;
	content: '';
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #ffffff;
}
.cp_iptxts input[type='text'] {
  background: none;
  resize: none;
}
.cp_iptxts input[type='file'] {
  background: none;
}
.lock_on_btn {
	display: inline-block;
	position: relative;
	width: 160px;
	height: 50px; 
	line-height:50px;
	text-align: center;
	text-decoration: none;
	color: rgb(255, 255, 255);
  background: none;
  border: none;
  left: 47.3%;
  outline:0;
}
.lock_on_btn::before {
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);	
}
.lock_on_btn::after {
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-top: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
}
.lock_on_btn span::before {
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
}
.lock_on_btn span::after {
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);	
}
.lock_on_btn:hover {
	 cursor: pointer;
	 text-decoration: none;
	 transition: transform .3s;
	transform-origin: center;
	transform: scale(0.8, 0.8); 
}
.btn_create{
  position: absolute;
  bottom: -2.5rem;
  background: none;
}
/* create */
.create{
  width: 55vw;
  height: 65vh;
  border-radius: 50px;
  background: rgba(243, 243, 243, 0.24);
  position: absolute;
  top: 25%;
  left: 10%;
  color: rgb(255, 255, 255);
}
.create-position{
  position: absolute;
  top: 20%;
  left: 10%;
}
.create-content{
  background: none;
  border: none;
}
/* activity */
.activity-contents{
  position: absolute;
  top: 30%;
  left: 5%;
}
.activity-content{
  display: flex;
  padding-bottom: 3rem;
  color: rgb(255, 255, 255);
}
.activity-name{
  border-left: 3px solid rgb(255, 255, 255);
  padding-left: 1.5rem;
  margin-left: 1.5rem;
}
.profiles-contents{
  position: absolute;
  top: 30%;
  left: 40%;
}
.alluser{
  height: 23rem;
  border: 1px solid #fff;
  overflow: scroll;
  padding: 20px 50px 5px;
  margin: 2px;
  background: rgba(197, 197, 197, 0.116);
  border-radius: 5px;
}
.allusers{
  border: 1px solid #fff;
  border-radius: 5px;
  background: rgba(240, 240, 240, 0.096);
}
.mb-0{
  padding-top: 3rem;
}
.btn-border {
  border: none;
  border-radius: 2px;
  background: rgb(184, 0, 0);
  color: rgb(255, 255, 255);
  padding: 5px;
}
.btn-border:hover {
  color: #fff;
  background: rgb(240, 173, 173);
}
.btn-click{
  color: #fff;
  background: rgb(240, 173, 173);
}
.followers{
  display: flex;
}
.changed{
  display: none;
}
#attachment{
  color: rgb(255, 255, 255);
  margin: 0 3%;
}
#attachment label {
  /* ボタン部分の見た目（任意） */
  display: inline-block;
  position: relative;
  background: rgba(0, 0, 0, 0);
  color:#fff;
  font-size: 16px;
  padding: 10px 18px;
  border-radius: 4px;
  transition: all 0.3s;
 }
 #attachment label:hover {
  background: #888;
  transition: all 0.4s;
 }
 #attachment label input {
  /* 今回のポイント */
  position: absolute;
  left:0;
  top:0;
  opacity: 0;
  width: 100%;
  height: 100%;
 }
 #attachment .filename {
  font-weight: 16px;
  margin:0 0 0 10px;
 }